# dependencies
/node_modules

# Yarn Berry
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# next.js
/.next/
.env.*.local
.env*.local

# rollup cache
/.rollup.cache/

# TypeScript build cache
tsconfig.tsbuildinfo

#logs
./storybook.log

.DS_Store

/dist

.npmignore

storybook-static/

.env