.container {
  position: relative;
  display: flex;
  flex-direction: column;
}

.commitInfoContainer {
  left: calc(18vw + 2rem);
  position: absolute;
  width: 100%;
}

.details {
  position: absolute;
  display: flex;
  align-items: baseline;
  width: 100%;
}

.svg {
  max-width: calc(18vw);
  overflow-x: auto;
  transform: rotateX(180deg);
}
.svg svg {
  transform: rotateX(180deg);
}
