.container {
  position: relative;
  display: flex;
  flex-direction: column;
}

.svg {
  width: calc(20vw);
}
.commitInfoContainer {
  position: absolute;
  left: calc(20vw + 1rem);
}

.details {
  position: absolute;
  display: flex;
  align-items: baseline;
}
