.diffSection {
  font-family: "Source Sans Pro";
  font-size: small;
  border: 1px solid #e1e4e8;
  background-color: white;
  position: absolute;
  width: 360px;
  right: 1rem;
  top: 1rem;
  z-index: 10;
  color: #010a40;
  border-radius: 0.5rem;
}

.top {
  padding: 1rem 1.5rem;
}

.commitAndParents {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: start;
  margin-bottom: 1rem;
}

.hashes {
  display: flex;
}

.bold {
  font-weight: 600;
  width: 3.25rem;
}

.summary {
  padding: 0 0 1rem 1.5rem;
  border-bottom: 1px solid #e1e4e8;
  div {
    display: flex;
    align-items: center;
    margin-right: 0.5rem;
  }
}

.message {
  white-space: pre-line;
  color: #5d6280;
}

.list {
  list-style-type: none;
  padding: 0 1.5rem 0.5rem 1.5rem;
  li {
    padding: 0.25rem 0;
    display: flex;
    align-items: center;
  }
}

.modified {
  color: #c5a15a;
  margin-right: 0.25rem;
  font-weight: 600;
  width: 0.75rem;
}

.deleted {
  color: #fa7978;
  margin-right: 0.25rem;
  font-weight: 600;
  stroke-width: 3px;
  width: 0.75rem;
}

.added {
  color: #29e3c1;
  margin-right: 0.25rem;
  font-weight: 600;
  stroke-width: 3px;
  width: 0.75rem;
}

.file {
  color: #010a40;
  font-weight: 600;
}

.link {
  color: inherit;
  outline: none;
}

.link:hover {
  color: #3d91f0;
}

.loading {
  display: flex;
  justify-content: center;
  padding: 1rem;
}
