.outer,.number{
  font-size: small;
  border: 1px solid;
  width: fit-content;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  height: 1.5rem;
  line-height: 1.5rem;
  border-radius: 50px;
  font-weight: 600;
}

.number{
  margin-left: 0.5rem;
}

.branches{
  position: relative;;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.dropdown{
  position: absolute;
  top: 2rem;
  display: flex;
  flex-direction: column;

}

.dropdownItem{
  margin-bottom: 0.5rem;
}

.firstBranch{
  display: flex;
  align-items: center;
}
 