.outer,
.number {
  font-size: small;
  border: 1px solid;
  width: fit-content;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  height: 1.5rem;
  line-height: 1.5rem;
  border-radius: 50px;
  font-weight: 600;
  white-space: nowrap;
}

.number {
  margin-left: 0.5rem;
}

.branches {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.dropdown {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background-color: white;
  border-radius: 1rem;
  border: 1px solid #e0e0e0;
  padding: 0.5rem;
}

.dropdownItem {
  margin-bottom: 0.5rem;
  background-color: white;
  z-index: 10;
  border: none;
  height: 1rem;
}

.firstBranch {
  display: flex;
  align-items: center;
}

.link {
  color: inherit;
}

.link:hover {
  color: #3d91f0;
}
