.outer {
  font-size: small;
  border: 1px solid;
  width: fit-content;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  height: 1.5rem;
  line-height: 1.5rem;
  border-radius: 50px;
  font-weight: 600;
  margin-right: 1rem;
}
